{% extends "base.html" %}
{% block content %}
<nav class="navbar box" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="has-text-centered navbar-item">
            <a class="title is-4" href={{ url_for("main.upload_video") }}>Upload</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <form class="form" method="POST">
                    <div class="field">
                        <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Search Videos" name="search">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                        </p>
                    </div>           
                </form> 
            </div>
          </div>
    </div>
</nav>

<div class="box">
    <br>
    <div class="has-text-centered">
        <columns class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                {% for v in vidList %}
                    <nav class="panel is-info">
                        <p class="panel-heading">
                            <a class="panel-heading" href="{{ url_for('main.video', vid=v.title) }}">{{ v.title }}</a>
                        </p>
                        <div class="panel-block">
                            <figure class="image">
                                <img src="{{ url_for('main.content_thumbnail', filename=v.id) }}">
                            </figure>
                        </div>
                    </nav>
                {% endfor %}
                {% if vidList|length == 0 %}
                    <div class="notification is-danger">
                        No Videos Found, to Upload, Press Upload Above!
                    </div>
                {% endif %}
            </div>
            <div class="column is-3"></div>
        </columns>
    </div>
    {% endblock %}