{% extends "base.html" %}
{% block content %}
<div class="container">
    <br>
    <div class="has-text-centered">
        <columns class="columns is-multiline">
            {% for x in vidList %}
            <div class="column">
                <nav class="panel is-info">
                    <p class="panel-heading">
                        <a class="panel-heading" href="{{ url_for('main.video', vid=x) }}">{{ x }}</a>
                    </p>
                    <div class="panel-block">
                        <img class="image" src="/content/thumbnail/{{x[0:-4]}}.png">
                    </div>
                </nav>
            </div>
            {% endfor %}
        </columns>
    </div>
    {% endblock %}