{% extends "base.html" %}
{% block content %}
<div class="container">
    <link href=" https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <div class="level">
        <a class="title is-6" href="{{ url_for('main.videos') }}">Back to list</a>
        <h1 class="level-item has-text-centered title is-3">
            {{ vid }}
        </h1>
    </div>
    <center>
        <div class="box">
            <video id="player" class="video-js" controls preload="auto" data-setup='{"fluid": true}'>
                <source src="{{ url_for('main.content_video', filename=vid) }}" type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <script src="{{ url_for('static', filename='controls.js') }}"></script>
        </div>
    </center>
</div>
{% endblock %}